WIFI_SSID=your_network_name
WIFI_PASS=your_password
BRIGHTNESS_DAY=80
BRIGHTNESS_NIGHT=45
NIGHT_START=22
REDUCED_BRIGHTNESS_START=23
NIGHT_END=7
GEOIP_API_URL=http://your_geoip_service_ip_or_domain:8080
GEOIP_USER=<if GEOIP_API_URL is protected by base auth. leave empty if not.>
GEOIP_PASS=<if GEOIP_API_URL is protected by base auth. leave empty if not.>
